[Unit]
Description=dsmr-evcc
Requires=network.target

[Service]
ExecStart=/usr/bin/python3 tcp-tee-crc.py nas.ds18 5001 5003 -e
WorkingDirectory=/mnt/SW26/Apps/dsmr
StandardOutput=inherit
StandardError=inherit
Restart=always
User=apps

[Install]
WantedBy=multi-user.target
